.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(10px);
}

.header__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.header__order-btn {
    margin-left: rem(15px);
    margin-top: rem(6px);
}

.logo__header {
    position: relative;
}

.logo-img {
    position: absolute;
    max-width: 100%;
    top: 0;
    bottom: 0;
}

.header__menu {
    flex: 1;
    text-align: right;

    @include landscape {
        display: none;
    }
}

.logo-icon {
    width: rem(98px);
    height: rem(74px);
}
